{% extends '../layout.html' %}
{% block contents %}
<form action="/twitter/post_to_twitter" method="POST">
<textarea id="content" name="content" rows="3" cols="40"></textarea>
<br />
<input type="submit" value="提交" />
</form>
<div id="twitter">
	<h2>Twitter</h2>
	<div id="twitter_user_panel">
	{% if user_info %}
	<table>
		<tbody>
			<tr>
				<td><img src="{{ user_info.profile_image_url }}" /></td>
				<td>
					<span><a href="{{ user_info.url }}">{{ user_info.screen_name }}</a></span>
					<br />
					<span>Updates:{{ user_info.statuses_count }}</span>
				</td>
			</tr>
		</tbody>
	</table>
	{% endif %}
	</div>
	<div id="date_nav">
		<a href="/twitter">today</a>
			{% for tl in time_links %}
			| <a href="/twitter/?date={{ tl|datetz:"Y-m-d" }}">{{ tl|datetz:"Y-m-d" }}</a> 
			{% endfor %}
	</div>
	{% include 'twitter_list.html' %}
	<div id="setting">
	<a href="/twitter/setting">Setting</a>
	</div>
</div>
{% endblock %}