<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Twitter4M8</title>
<script src="http://www.google.com/jsapi"></script>
<script>
  google.load("jquery", "1.3.2");
</script>
<script type="text/javascript" src="/js/jf.js"></script>
<script>
$(document).ready(function() { 
    $('#p').ajaxForm({ 
        target: '#l', 
        success: function() { 
        	$('#c').val('');
            $('#a').html('<li>' + $('#l').html() + '</li>' + $('#a').html());
            $('#l').html('# ' + $('#l').html());
            $('#l').fadeIn('slow'); 
        } 
    }); 
});
</script>
</head>
<body style="width: 720px;">
<form action="/twitter/_m8" id="p" method="POST">
<table width="450px">
	<tr>
		<td valign="top">
		<textarea id="c" name="c" rows="2" cols="70"></textarea>
		<div id="l"></div>
		</td>
		<td><input type="submit" value="提交"
			style="width: 100px; height: 110px" id="s" /></td>
	</tr>
</table>
</form>
<hr />
{% if twitter_status %}
<ul id="a">
	{% for s in twitter_status %}
	<li>{{ s.text|replace_link|replace_twitter_link}}</li>
	{% endfor %}
</ul>
{% endif %}
<hr />
CopyRight iBeyond@2009
</body>
</html>