{% extends '../layout.html' %}
{% block title %} Twitter {% endblock %}
{% block contents %}
<div>
<a href="/twitter/import_user">Update User</a> | 
<a href="/twitter/update">Update Twitter</a>
</div>
<h1>Twitter</h1>
{% if user_info %}
<div>
<img src="{{ user_info.profile_image_url }}" />
<li><a href="{{ user_info.url }}">{{ user_info.screen_name }}</a></li>
<li>{{ user_info.location }}</li>
<li>{{ user_info.followers_count }}</li>
<li>{{ user_info.friends_count }}</li>
<li>{{ user_info.created_at }}</li>
<li>{{ user_info.favourites_count }}</li>
<li>{{ user_info.statuses_count }}</li>
</div>
{% endif %}
{% for s in twitter_status %}
<li>
<img src="{{ s.twitter_user.profile_image_url }}" />
<br/>
<a href="https://twitter/{{s.twitter_user.name}}">{{ s.twitter_user.screen_name }}</a>
<br />
{{ s.text }}
<br />
</li>
{% endfor %}
{% endblock %}