<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %} All In One {% endblock %}</title>
</head>
<body>
<div id="nav">
<li><a href="/">Home</a></li>
<li><a href="/twitter">Twitter</a></li>
<li>Welcome, 
{% if user %}
<a href="/profile/{{ user.email }}">{{ user.nickname }}</a> | <a href="{{ logout_url }}">退出</a>
{% else %}
guest |<a href="{{ login_url }}">登录</a>
{% endif %}
</li>
</div>
<div id="contents">
{% block contents %}
{% endblock %}
</div>
<div id="footer">
copy right iBeyond@2009
</div>
</body>
</html>