<h2>OAUHT服务登录</h2>
<div id="service_list">
{% if oauth_service %}
{% for site in oauth_service %}
<table border="1" width="680">
	<caption>{{ site.service_name }}</caption>
	<tbody>
		<tr>
			<td width="200">realm:</td>
			<td>{{ site.realm }}</td>
		</tr>
		<tr>
			<td>consumer_key:</td>
			<td>{{ site.consumer_key }}</td>
		</tr>
		<tr>
			<td>consumer_secret:</td>
			<td>{{ site.consumer_secret }}</td>
		</tr>
		<tr>
			<td>request_token_url:</td>
			<td>{{ site.request_token_url }}</td>
		</tr>
		<tr>
			<td>access_token_url:</td>
			<td>{{ site.access_token_url }}</td>
		</tr>
		<tr>
			<td>user_auth_url:</td>
			<td>{{ site.user_auth_url }}</td>
		</tr>
		<tr>
			<td>req_oauth_token:</td>
			<td>{{ site.req_oauth_token }}</td>
		</tr>
		<tr>
			<td>req_oauth_token_secret:</td>
			<td>{{ site.req_oauth_token_secret }}</td>
		</tr>
		<tr>
			<td>oauth_token:</td>
			<td>{{ site.oauth_token }}</td>
		</tr>
		<tr>
			<td>oauth_token_secret:</td>
			<td>{{ site.oauth_token_secret }}</td>
		</tr>
		<tr>
			<td>user_id:</td>
			<td>{{ site.user_id }}</td>
		</tr>
		<tr>
			<td colspan="2">
			<a href="/admin/del_service?key={{ site.key }}">删除服务</a>
			{% ifequal oauth_token_secret None %}
			<a href="/admin/get_token?key={{ site.key }}">取得Token</a>
			{% endifequal %}
			</td>
		</tr>
	</tbody>
</table>
{% endfor %}
{% endif %}
</div>
<br />
<form id="add_service" action="/admin/_add_service" method="post">
<table border="1">
	<tr>
		<td>服务:</td>
		<td>
			<select name="service_name" id="service_name">
			{% for service in oauth_service_list %}
				<option value="{{ service }}">{{ service }}</option>
			{% endfor %}
			</select>
		</td>
		<td><input type="submit" id="add_service" value="添加服务"></td>
	</tr>
</table>
</form>